
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: BebasKai;
    src: url(fonts/bebas_kai/BebasKai.ttf);
}

@font-face {
    font-family: LouisGeorgeCafe;
    src: url(fonts/louis_george_caf/LouisGeorgeCafe.ttf);
}


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
  scroll-behavior: smooth;
  height: 95%;
  font-family: LouisGeorgeCafe;
}

.section {
  padding: 70px 0;
  height: 95%;
}

#navbar{
    height: 5%;
}

.unidade-container{
    position: relative;
}

.unidade-image {
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

#big_numbers2{
    background-color: #139897;
}

.unidade-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 58%;
  top: 48%;
  height: 61%;
}

.unidade-container:hover .unidade-image {
  opacity: 0.3;
}

.unidade-container:hover .unidade-middle {
  opacity: 1;
}

.unidade-text {
  background-color: #2FC5C8;
  color: white;
  font-size: 16px;
  height: 100%;
  font-size: 7rem;
}

.mb-6{
    margin-bottom: 3.5rem !important;
}
